.container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 300px;
	height: 300px;
	overflow: hidden;
}

.image {
	position: absolute;
	opacity: 0;
	transition: opacity 1s ease;
}

.visible {
	opacity: 1;
	animation: breathe 1s 1; /* Replace the breathingSpeed with the actual duration */
	transform-origin: center;
}

@keyframes breathe {
	0% {
		transform: scale(0.2);
	}
	10% {
		transform: scale(0.5);
	}
	50% {
		transform: scale(0.6);
	}

	60% {
		transform: scale(0.2);
	}
	70% {
		transform: scale(0.7);
	}
	100% {
		transform: scale(1);
	}
}
.center-button > button {
	justify-self: center !important;
	align-self: center;
	display: "flex";
	align-items: center;
	justify-content: center;
}
